@media (max-width: 991.98px) {
  .header {
    position: relative;
  }
  .menu-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .menu-toggler:focus {
    box-shadow: none;
  }

  .banner-media {
    margin-top: 60px;
  }

  .product-single {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section-heading {
    text-align: center;
  }

  .shopping-media {
    margin: 40px 0;
  }

  .info {
    padding: 35px;
  }

  .info-icon {
    margin-right: 0;
  }

  .info-details {
      width: 100%;
      text-align: center;
      margin-top: 40px;
  }

  .single-widget {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

@media (min-width: 992px) {
  .header-top-bg {
    background: #FFFFF4 url(../img/top-header-bg.png) no-repeat 335px 0;
  }

  .logo {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .header-top-bg {
    background: #FFFFF4 url(../img/top-header-bg.png) no-repeat 460px 0;
  }
}